.Card-discard {
  background: linear-gradient(#000, #a04594, #af0f9a, #6c005e);
  border: 14px solid white;
  border-radius: 10px;
  color: #fff;
  filter: opacity(0.97) drop-shadow(1px 1px 1px #004f9c);
  height: 280px;
  letter-spacing: 4px;
  position: absolute;
  text-align: center;
  text-indent: 5px;
  text-transform: uppercase;
  user-select: none;
  width: 192px;
}
.Card:hover {
  margin: 0 10px;
  transition: 500ms margin ease-in-out;
}
.Card:active {
  background-color: #07f;
  box-shadow:
  1px 0 1px #07f,
  0 2px 2px #07f,
  3px 0 3px #07f,
  0 4px 4px #07f,
  5px 0 5px #07f,
  0 6px 10px #07f,
  7px 0 15px #07f,
  0 8px 20px #07f,
  9px 0 25px #07f,
  0 10px 45px #07f,
  0 12px 55px #07f,
  0 14px 65px #07f,
  -11px 0 50px #07f,
  0 -12px 55px #07f,
  -13px 0 60px #07f,
  0 -14px 65px #07f;
  margin-bottom: 50px;
  opacity: 0.9;
  transition: 1000ms all ease-in-out;
}
.Card-table {
  position: absolute;
  top: 20vh;
}
.Card-table:hover {
  margin-top: 20px;
  transition: 500ms margin-top ease-out;
}
