.Card-discard {
  background: linear-gradient(#000, #a04594, #af0f9a, #6c005e);
  border: 14px solid white;
  border-radius: 10px;
  color: #fff;
  filter: opacity(0.97) drop-shadow(1px 1px 1px #004f9c);
  height: 280px;
  letter-spacing: 4px;
  position: absolute;
  text-align: center;
  text-indent: 5px;
  text-transform: uppercase;
  user-select: none;
  width: 192px;
}
.Card:hover {
  margin-bottom: 20px;
  transition: 500ms margin-bottom ease-out;
}
.Card-table {
  position: absolute;
  top: 20vh;
}
.Card-table:hover {
  margin-top: 20px;
  transition: 500ms margin-top ease-out;
}
