.Table {
  align-items: center;
  background-color: #2a2;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
  z-index: 0;
}
.Table-piles {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
}
.Table-playfield {
  z-index: 0;
}
@keyframes cpuThinking {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
